/* 重置所有元素的内外边距和边框 */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
}

/* 清除列表元素的默认样式 */
ul, ol {
    list-style: none;
}

/* 清除链接的默认样式 */
a {
    text-decoration: none;
    color: inherit;
}

/* 清除标题元素的默认样式 */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* 清除段落元素的默认样式 */
p {
    margin: 0;
}

body{
    background-color: #f5f5f5;
}

:root {  
    --normal:#15487D;
    --normal-trans50:#15477dd6;
    --lighter:#7B808D;
    --lightest:#E1E2E5;
    --text-normal:#0e1c27;
    --text-lightest:#FBFBFB;
}